* {
  margin: 0;
  padding: 0;
}

body {
  padding: 100px;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}

input[type="text"]{
  font-size: 150%;
  padding-left: 15px;
}

.add_todo_area input::placeholder {
  padding-left: 20px;
  font-size: 20px;
}

.list_item {
  display: flex;
  align-items: center;
  font-size: 20px;
}